<html>
    <head>
        <title>Welcome to my web server {{ ansible_hostname }} !</title>
    </head>
    <body>
        <h1>Welcome to my web server {{ ansible_hostname }} !</h1>
        {{ page_content }}
    </body>
</html>